@model KarateMVC.Models.ApplicationUser

@{
    ViewBag.Title = "Foto profilo utente";
}

<h2>@ViewBag.Title</h2>

<div>
    <h3>@Model.Nome</h3>
    <hr class="hr1" />
    <div class="row">
        <div class="col col-md-3">
            <img class="img-thumbnail" src="@Url.Content("~/Content/Immagini/FotoIscritti/" + Model.Id + ".jpg")" />
        </div>
        <div class="col col-md-9">
            @using (Html.BeginForm("EditImgUt", "UsersAdmin", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <input type="file" name="file" /><br>
                <input type="submit" value="Upload Image" class="btn btn-primary" />
                <br>
                <span class="label label-danger">@ViewBag.Message</span>

            }
        </div>
    </div>
</div>
