
@{
    ViewBag.Title = "Agonisti";
}

<h2>Agonisti</h2><hr class="hr1" />

<h3 class="text-center">Italiani Monza 4-5 giugno 2016</h3>
<div class="row">
    <div class="col col-md-4 ">
        <div class="embed-responsive embed-responsive-16by9 img-thumbnail">
            <iframe allowfullscreen class="embed-responsive-item" src="https://www.youtube.com/embed/HB7oRaE4G5I"></iframe>
         </div>
    </div>
    <div class="col col-md-4 ">
        <div class="embed-responsive embed-responsive-16by9 img-thumbnail">
            <iframe allowfullscreen class="embed-responsive-item" src="https://www.youtube.com/embed/7NbPeFhH5cA"></iframe>
        </div>
    </div>
    <div class="col col-md-4 ">
        <div class="embed-responsive embed-responsive-16by9 img-thumbnail">
            <iframe allowfullscreen class="embed-responsive-item" src="https://www.youtube.com/embed/R4QSGthTEdo"></iframe>
        </div>
    </div>
</div><hr class="hr1" />
<h3 class="text-center">Regionali Biassonno 8-15 maggio 2016</h3>    
<div class="row">
        <div class="col col-md-4 ">
            <div class="embed-responsive embed-responsive-16by9 img-thumbnail">
                <iframe allowfullscreen class="embed-responsive-item" src="https://www.youtube.com/embed/wgT7-OuYhY0"></iframe>
            </div>
        </div>
        <div class="col col-md-4">
            <div class="embed-responsive embed-responsive-16by9 img-thumbnail">
                <iframe allowfullscreen class="embed-responsive-item" src="https://www.youtube.com/embed/G8r8YUOTetA"></iframe>
            </div>
        </div>
        <div class="col col-md-4">
            <div class="embed-responsive embed-responsive-16by9 img-thumbnail">
                <iframe allowfullscreen class="embed-responsive-item" src="https://www.youtube.com/embed/9wORo1AdnFM"></iframe>
            </div>
        </div>
    </div>
