
@{
    ViewBag.Title = "Agonisti";
}

<h2 class="text-center">Area Agonisti</h2><hr/>
<h3 class="text-center">Coppa Shotokan Lucca 2 dicembre 2017</h3>
<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <div class="embed-responsive embed-responsive-16by9 img-thumbnail">
            <iframe allowfullscreen class="embed-responsive-item" src="https://www.youtube.com/embed/-cAqhobYJbE"></iframe>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <div class="embed-responsive embed-responsive-16by9 img-thumbnail">
            <iframe allowfullscreen class="embed-responsive-item" src="https://www.youtube.com/embed/ZxzNR193M54"></iframe>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <div class="embed-responsive embed-responsive-16by9 img-thumbnail">
            <iframe allowfullscreen class="embed-responsive-item" src="https://www.youtube.com/embed/1bNiu1Wic-E"></iframe>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <div class="embed-responsive embed-responsive-16by9 img-thumbnail">
            <iframe allowfullscreen class="embed-responsive-item" src="https://www.youtube.com/embed/7VEeEYB5qTg"></iframe>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <div class="embed-responsive embed-responsive-16by9 img-thumbnail">
            <iframe allowfullscreen class="embed-responsive-item" src="https://www.youtube.com/embed/GhRq2BaOPlU"></iframe>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <div class="embed-responsive embed-responsive-16by9 img-thumbnail">
            <iframe allowfullscreen class="embed-responsive-item" src="https://www.youtube.com/embed/jiZtBoWGw_M"></iframe>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <div class="embed-responsive embed-responsive-16by9 img-thumbnail">
            <iframe allowfullscreen class="embed-responsive-item" src="https://www.youtube.com/embed/CKFIC-ygYiA"></iframe>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <div class="embed-responsive embed-responsive-16by9 img-thumbnail">
            <iframe allowfullscreen class="embed-responsive-item" src="https://www.youtube.com/embed/0xi6Deq3XtI"></iframe>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <div class="embed-responsive embed-responsive-16by9 img-thumbnail">
            <iframe allowfullscreen class="embed-responsive-item" src="https://www.youtube.com/embed/m6Pae5NSllQ"></iframe>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <div class="embed-responsive embed-responsive-4by3 img-thumbnail">
            <iframe allowfullscreen class="embed-responsive-item" src="https://www.youtube.com/embed/JsGKMxxe2-Y"></iframe>
        </div>
    </div>
    </div>
<hr class="hr1" />
<h3 class="text-center">Italiani Monza 4-5 giugno 2016</h3>
<div class="row">
    <div class="col col-md-4 ">
        <div class="embed-responsive embed-responsive-16by9 img-thumbnail">
            <iframe allowfullscreen class="embed-responsive-item" src="https://www.youtube.com/embed/HB7oRaE4G5I"></iframe>
         </div>
    </div>
    <div class="col col-md-4 ">
        <div class="embed-responsive embed-responsive-16by9 img-thumbnail">
            <iframe allowfullscreen class="embed-responsive-item" src="https://www.youtube.com/embed/7NbPeFhH5cA"></iframe>
        </div>
    </div>
    <div class="col col-md-4 ">
        <div class="embed-responsive embed-responsive-16by9 img-thumbnail">
            <iframe allowfullscreen class="embed-responsive-item" src="https://www.youtube.com/embed/R4QSGthTEdo"></iframe>
        </div>
    </div>
</div>
<hr class="hr1" />
<h3 class="text-center">Regionali Biassonno 8-15 maggio 2016</h3>    
<div class="row">
        <div class="col col-md-4 ">
            <div class="embed-responsive embed-responsive-16by9 img-thumbnail">
                <iframe allowfullscreen class="embed-responsive-item" src="https://www.youtube.com/embed/wgT7-OuYhY0"></iframe>
            </div>
        </div>
        <div class="col col-md-4">
            <div class="embed-responsive embed-responsive-16by9 img-thumbnail">
                <iframe allowfullscreen class="embed-responsive-item" src="https://www.youtube.com/embed/G8r8YUOTetA"></iframe>
            </div>
        </div>
        <div class="col col-md-4">
            <div class="embed-responsive embed-responsive-16by9 img-thumbnail">
                <iframe allowfullscreen class="embed-responsive-item" src="https://www.youtube.com/embed/9wORo1AdnFM"></iframe>
            </div>
        </div>
    </div>

<hr class="hr1" />
<h3 class="text-center">Goshindo Spagna Caravaca de la Cruz 9 ottobre 2010</h3>
<div class="embed-responsive embed-responsive-16by9 img-thumbnail">
    <video controls="controls">
        <source class="embed-responsive-item" src="~/Content/Video/ShiraiTaieiSan.mp4" type="video/mp4" />
    </video>
</div>