body {
    padding-top: 90px;
    padding-bottom: 20px;
    background-color:#ebebeb;
    font-family: "Segoe UI" , Verdana, Helvetica, Sans-Serif;
}

    
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    background-color:rgba(235, 235, 235, 0.90)
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;20/10/2007
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

hr {
    border: inset 0.1em;
    color:#ebebeb;
    }

.scrittaLogo{
    color:white;
    font-size: 2.5em;
    font-weight:600;
    text-shadow:0px 0px 6px #000;
}
.scittaLogoVerticale {
    position: fixed;
    top: 125px;
    left: 0px;
    z-index: -9000;
}

.navbar-header{
    background-color:none;
}
.navbar {
    background-image: url('Immagini/Striscia.jpg');
    background-repeat: repeat-x;
    background-position: 50% top;
}
.navbar img {
    max-width:200px;
    margin-top:0px;
}

/*personalizzazione*/
.body-content{
    margin-top:25px;
}

h1 {
    text-shadow: 0px 0px 5px #000;
    text-align: center;
    color: #e4e7e9;
    line-height: 1em;
}
h2 {
    text-align: left;
    color: #628A81;
}
.hr1 {
    border: 0;
    height: 1px;
    background: -webkit-linear-gradient(to right, rgba(0, 0, 0, 0.00), rgba(0,0,0), rgba(0, 0, 0, 0.00));
    background: -o-linear-gradient(to right, rgba(0, 0, 0, 0.00), rgba(0,0,0), rgba(0, 0, 0, 0.00));
    background: -moz-linear-gradient(to right, rgba(0, 0, 0, 0.00), rgba(0,0,0), rgba(0, 0, 0, 0.00));
    background: linear-gradient(to right, rgba(0, 0, 0, 0.00), rgba(0,0,0), rgba(0, 0, 0, 0.00));
}
.hrv{
    border:inset 1px;
    color:#106d40;
}
.verde{
    color:#106d40;
}
.navi {
    margin:0;
    padding:0;
}
    .navi a {
    text-decoration: none;
    text-shadow: 0px 0px 2px #000;
    color: #fff !important;
    font-weight: bold;
    transition: all 0.8s ease;
    font-size: 1.2em;
}
    .navi li {
     color:#fff !important;
   }
    .navi li div{
     font-size:1.7em;
     padding: 12px 13px 0px 13px;
     z-index:10;
     position:relative;
    }
    .navi a:hover {
    transition: all 0.8s ease;
    text-shadow: 0px 0px 40px #4f4f4f;
    color: #22486F;
    -ms-transform: scale(1.5,1.5); /* IE 9 */
    -webkit-transform: scale(1.5,1.5); /* Chrome, Safari, Opera */
    transform: scale(1.5,1.5);
    }
    .navi li a span{
    transition: all 0.8s ease;
    color:#000;
    font-size:0.1em;
    overflow:no-content;
    z-index:20;
    -ms-transform: scale(0,0); /* IE 9 */
    -webkit-transform: scale(0,0); /* Chrome, Safari, Opera */
    transform: scale(0,0);
    display:none;
    background-color:rgba(235, 235, 235, 0.00)
    }
    .navi li a img{
            transition: all 0.8s ease;

    }
    .navi a:hover span {
    position:absolute;
    display:flex;
    transition: all 0.8s ease;
    text-shadow: 0px 0px 10px #fff;
    color: #22486F;
    -ms-transform: scale(5,5); /* IE 9 */
    -webkit-transform: scale(5,5); /* Chrome, Safari, Opera */
    transform: scale(5,5);
    margin-top:12px;
    background-color:rgba(235, 235, 235, 0.80);
    padding: 0px 1px 1px 1px;
    border-radius:1px;
    }
.navbar-inverse{
    background-color:#106d40;
    border:none;
}
.link-home{

}
.content{
    font-size:0.9em;
    display:table;
}

.div1 {
    margin: auto;
    text-align:center;
    text-align:justify;
}
    .div1 h4 {
        color:#628A81;
        margin-top:0px;
        margin-bottom:0px;
        font-weight:bold;
        font-style:italic;
    }
    .div1 div {
    float: left;
    border-radius: 10px;
    border: thin solid #E5E5E5;
    margin: 15px;
    padding: 5px;
    background-color: #F9FBFA;
}
    .div1 img {
    height:200px;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
    transition: all 1s ease;
    -webkit-box-shadow: 0px 0px 25px #000;
    -moz-box-shadow: 0px 0px 25px #000;
    box-shadow: 0px 0px 8px #000;
    border-radius: 0.4em;
    z-index:1;
    }
    .div1 img:hover {
        border-radius:0.8em;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
    transition: all 1s ease;
    z-index: 999;
    box-shadow: 0px 0px 200px #fff;
}

.div4 {
}
    .div4 div {
    }
    .div4 img {
        float:left;
    -webkit-box-shadow: 4px 4px 5px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 4px 4px 5px rgba(50, 50, 50, 0.75);
    box-shadow: 4px 4px 5px rgba(50, 50, 50, 0.75);
        margin: 0px 20px 0px 15px;
        padding:0;
        height:90px;
    }
        .div4 img:hover {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
    transition: all 1s ease;
    z-index: 999;
    -webkit-box-shadow: 0px 0px 200px #fff;
    -moz-box-shadow: 0px 0px 200px #fff;
        }
.galla {
    display:table;
}
.galla div{
    overflow:hidden;
    border-radius:6px;
    float:left;
    margin:5px;
    -webkit-box-shadow: 4px 4px 5px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    4px 4px 5px rgba(50, 50, 50, 0.75);
    box-shadow:         4px 4px 5px rgba(50, 50, 50, 0.75);
}
.galla div span a{
}
.galla span:hover img{
-webkit-transform:scale(1.8); /*Webkit: Scale up image to 1.2x original size*/
-moz-transform:scale(1.8); /*Mozilla scale version*/
-o-transform:scale(1.8); /*Opera scale version*/
z-index:0;
 -ms-transform: scale(1.8); /* IE 9 */
 transition:all 0.7s ease-out;
}
.galla img {
    height:120px;
    text-align: center;
    vertical-align: bottom;
    border-radius:4px;
    transition:all 1s ease;
}
.galla1 {
    background-color:#fff;
    border-radius:5px;
    margin:2px;
    padding:2px;
    border:solid 1px #b1b1b1;
    float:left;
    text-align:center;
    overflow:hidden;
 }
.galla1 img {
    z-index:1;
}
.galla1 span{
    z-index:2;
}
.galla1 span span{
    text-shadow:0px 0px 33px #fff;
    background-color:rgba(255, 255, 255, 0.7);
    padding:3px;
    border-radius:2px;
}
.galla2{

}
.galla2 img{
    width:50%;
    margin:5px;
    text-align: center;
    vertical-align: bottom;
    border-radius:5px;
    -webkit-box-shadow: 4px 4px 5px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    4px 4px 5px rgba(50, 50, 50, 0.75);
    box-shadow:         4px 4px 5px rgba(50, 50, 50, 0.75);
}
.galla3 {
    display:table;
    text-align:center;
}
.galla3 div{
    overflow:hidden;
    border-radius:6px;
    float:left;
    margin:5px;
    -webkit-box-shadow: 4px 4px 5px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    4px 4px 5px rgba(50, 50, 50, 0.75);
    box-shadow:         4px 4px 5px rgba(50, 50, 50, 0.75);
}
.galla3 div span a{
}
.galla3 span:hover img{
-webkit-transform:scale(1.8); /*Webkit: Scale up image to 1.2x original size*/
-moz-transform:scale(1.8); /*Mozilla scale version*/
-o-transform:scale(1.8); /*Opera scale version*/
z-index:0;
 -ms-transform: scale(1.8); /* IE 9 */
 transition:all 0.7s ease-out;
}
.galla3 img {
    height:70px;
    text-align: center;
    vertical-align: bottom;
    border-radius:4px;
    transition:all 1s ease;
}

.img-login{
    height:50px;
    border:solid 2px #fff;
    border-radius:50%;
    top:-30px;
    margin-top:-25px !important;
}
.img-usr{
    height:50px;
    border:solid 2px #fff;
    border-radius:50%;
}
.img-social{
    width:50px;
}
.img-jumbo{
    border-radius:50%;
    max-width:25%;
    max-height:100px;
    float:right;
}
.img-label{
    height:70px;
    box-shadow:0px 0px 5px #000;
}
footer{
    padding:0px;
}

.jumbo{
    background-color:#c9cbca !important;
    margin-top: -8px;
    padding: 10px;
    border: solid thin white;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0px 0px 24px #000;
}
.btn-trasp{
  color: #000;
  background-color: none;
  border-color: none;

}

        /********************
*   Mobile Styles   *
********************/
@media (max-width: 400px) {
    .navbar img {
        
    }
}
@media (max-width: 768px) {
    .navbar {
        background-image: none;
    }
        .link-home{
            position:fixed;
        }
.img-login{
    height:40px;
    border:solid 2px #fff;
    border-radius:50%;
    top:100px;
    margin-top:-25px !important;
}

    .scrittaLogo{
        visibility:collapse;
        font-size:1em;
    }
    h2 {
        font-size:1.7em;
    }
    header {
        background-image: none;
        background-color: #22486F;
    }
    nav {
        display:inline-block;
    }
    .div1 {
        padding-left:0px;
    }
    .div2 {
        padding-left: 0px;
    }
    .div4 {
        padding-left: 0px;
    }

    .navi a:hover {
    transition: none;
    -ms-transform: none; /* IE 9 */
    -webkit-transform: none; /* Chrome, Safari, Opera */
    transform: none;
    }
    .navi li a span {
        padding-left:20px;
        position:relative;
        display:inline-block;
        color:#fff;
        font-size:0.7em;
        transform:scale(1,1);
    }
    .navi a:hover span {
    position:relative;
    display:inline-block;
    transition: none;
    text-shadow: none;
    color: #106d40;
    -ms-transform: scale(1,1); /* IE 9 */
    -webkit-transform: scale(1,1); /* Chrome, Safari, Opera */
    transform: scale(1,1);
     font-size:0.7em;
    }
    .scrittaLogoAvviso{
    visibility:collapse;
}

}

/*bottoni a destra*/
.docu{
    position:fixed;
    bottom:50%;
    right:-20px;
    transition: all ease 1s;
}
.docu ul{
    list-style: none;
}
.docu img{
    opacity:0.5;
    right:-10px;
    transition: all ease 1s;
    height:30px
}
.docu img:hover {
    opacity:1;
    transform: translate(-2em,0);
    right:-30px;
}
