@model IEnumerable<KarateMVC.Models.WSKA2017>

@{
    ViewBag.Title = "Index";
}
<div class="text-center"><a href="@Url.Action("Evento", "Home", new {id = 93})" class="text-center"><img class="img-responsive aligncenter " src="~/Content/Immagini/logowska2017-350x114.png" /></a></div>

<h1>Campionato del mondo di Treviso</h1>
<hr class="hr1" />

